In [1]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("CREATE TABLE employee(id charvar ,  name charvar  , sal  charvar)")
database_obj.close()

In [4]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("INSERT INTO  employee VALUES('AIT01','anjan',20000)")
database_obj.close()

In [7]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
database_obj.close()

In [9]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("INSERT INTO  employee VALUES('AIT01','anjan',20000)")
database_obj.commit()
database_obj.close()

In [11]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
database_obj.close()

('AIT01', 'anjan', '20000')

In [12]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("INSERT INTO  employee VALUES('AIT02','shalu',40000)")
database_obj.commit()
database_obj.close()

In [13]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
database_obj.close()

('AIT01', 'anjan', '20000')
('AIT02', 'shalu', '40000')

In [14]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("INSERT INTO  employee VALUES('AIT03','latha',60000)")
database_obj.commit()
database_obj.close()

In [15]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
database_obj.close()

('AIT01', 'anjan', '20000')
('AIT02', 'shalu', '40000')
('AIT03', 'latha', '60000')

In [17]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("UPDATE  employee SET id = 'AIT04' WHERE NAME = 'latha' ")
database_obj.commit()
database_obj.close()

In [18]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
database_obj.close()

('AIT01', 'anjan', '20000')
('AIT02', 'shalu', '40000')
('AIT04', 'latha', '60000')

In [19]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("DELETE from  employee  WHERE NAME = 'latha' ")
database_obj.commit()
database_obj.close()

In [20]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
database_obj.close()

('AIT01', 'anjan', '20000')
('AIT02', 'shalu', '40000')

In [21]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
cur_obj.close()

('AIT01', 'anjan', '20000')
('AIT02', 'shalu', '40000')

In [22]:
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
cur_obj.close()

('AIT01', 'anjan', '20000')
('AIT02', 'shalu', '40000')

In [23]:
# sqlite3 
import sqlite3 as sql
database_obj = sql.connect("sample.db") # creating a data bases
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)
database_obj.close()

('AIT01', 'anjan', '20000')
('AIT02', 'shalu', '40000')

In [24]:
cur_obj = database_obj.cursor()
cur_obj.execute("SELECT * FROM employee")
for record in cur_obj.fetchall():
    print(record)

ProgrammingError: Cannot operate on a closed database.